<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50" >
    <form [formGroup]="cadastro" (ngSubmit)="save()" (ngReset)="resetForm()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput placeholder="Título" name="title" formControlName="title">
          <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.title.errors && f.title.errors.required">Campo Obrigatorio</mat-error>
          <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.title.errors && f.title.errors.minlength">Campo precisa possuir no minimo 2 caracteres</mat-error>
          <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.title.errors && f.title.errors.maxlength">Campo pode ter no maximo 254 caracteres</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Link Foto" name="urlPhoto" formControlName="urlPhoto">
          <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.urlPhoto.errors && f.urlPhoto.errors.minlength">Campo precisa possuir no minimo 10 caracteres</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input
              readonly
              matInput
              [matDatepicker]="picker"
              placeholder="Data de Lançamento"
              name="releseDate"
              formControlName="releseDate"
              (click)="picker.open()"
              >
              <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.releseDate.errors && f.releseDate.errors.required">Campo Obrigatorio</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Descrição" name="description" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            type="number"
            min="0"
            max="10"
            step="0.1"
            matInput
            placeholder="Nota IMDb"
            name="imdbRating"
            formControlName="imdbRating"
            >
            <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.imdbRating.errors && f.imdbRating.errors.required">Campo Obrigatorio</mat-error>
            <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.imdbRating.errors && f.imdbRating.errors.min">Nota minima 0</mat-error>
            <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.imdbRating.errors && f.imdbRating.errors.max">Nota maxima 10</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Link IMDb" name="imdbUrl" formControlName="imdbUrl">
          <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.imdbUrl.errors && f.imdbUrl.errors.minlength">Campo precisa possuir no minimo 10 caracteres</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-select placeholder="Gênero" name="gender" formControlName="gender">
            <mat-option value="Ação">Açao</mat-option>
            <mat-option value="Aventura">Aventura</mat-option>
            <mat-option value=">Ficção Científica">Ficção Científica</mat-option>
            <mat-option value="Romance">Romance</mat-option>
            <mat-option value="Terror">Terror</mat-option>
          </mat-select>
          <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.gender.errors && f.gender.errors.required">Campo Obrigatorio</mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
