<mat-toolbar class="app-title">Cadastrar Filme</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form [formGroup]="cadastro" (ngSubmit)="save()" (ngReset)="resetForm()">
      <mat-card-content>
        <dio-input-text
          title="Titulo"
          controlName="title"
          [formGroup]="cadastro"
        ></dio-input-text>
        <dio-input-text
          title="Link da Foto"
          controlName="urlPhoto"
          [formGroup]="cadastro"
        ></dio-input-text>
        <dio-input-date
          title="Data de Lançamento"
          controlName="releseDate"
          [formGroup]="cadastro"
        ></dio-input-date>
        <dio-text-area
          title="Descrição"
          controlName="description"
          [formGroup]="cadastro"
        ></dio-text-area>
        <dio-input-number
          title="Nota IMDb"
          step="0.1"
          controlName="imdbRating"
          [formGroup]="cadastro"
        ></dio-input-number>
        <dio-input-text
          title="Link IMDb"
          controlName="imdbUrl"
          [formGroup]="cadastro"
        ></dio-input-text>
        <dio-select
          title="Genero"
          controlName="gender"
          [formGroup]="cadastro"
        ></dio-select>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Salvar</button>
        <button type="reset" color="warn" mat-raised-button>Cancelar</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
