<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>
<mat-card class="float-left margin-10 filtro-listagem">
  <form autocomplete="off" novalidate [formGroup]="filterList">
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-text
          title="Pesquise aqui"
          controlName="text"
          [formGroup]="filterList"
        ></dio-input-text>
      </div>
    </div>
    <div class="float-left width50">
      <div class="padding10">
        <dio-select
          title="Gênero"
          [options]="genders"
          controlName="gender"
          [formGroup]="filterList"
        ></dio-select>
      </div>
    </div>
  </form>
</mat-card>
<div
  class="home-content"
  infiniteScroll
  (scrolled)="onScroll()"
  *ngIf="films.length; else noRegister"
>
  <mat-card class="home-card" *ngFor="let film of films">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{ film.title }}</mat-card-title>
      <mat-card-subtitle>{{ film.gender }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="film.urlPhoto || noPicture" [alt]="film.title" />
    <mat-card-content>
      <p class="quebrar-linha">
        {{ film.description || "Sem descrião disponível" }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-raised-button>Abrir</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #noRegister>
  <h1 class="full-width main-div">Nenhum registro encontrado</h1>
</ng-template>
